<nav class="navfooter">

    <ul>

        <li><a href="{{path('main_index')}}">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    

    </ul>
</nav>