<nav class="navbar">

    <ul>

        <li><a href="{{path('main_index')}}">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    
        <li><a href="/">Accueil</a></li>    
        <li><a href="{{path('register')}}">S'inscrire</a></li>    
        <li><a href="{{path('login')}}">Se connecter</a></li>    

    </ul>
</nav>